* {
  margin: 0;
  padding: 0;
}
.container {
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
}
/* ====== HEADER ===== */
.header {
  text-align: center;
  margin-top: 30px;
}
.header__logo {
  height: 87px;
  width: 100px;
}
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
.header__title {
  font-family: "Raleway";
  font-size: 60px;
  margin: 10px;
}
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
.header__subtitle {
  font-family: "Raleway";
  font-size: small;
  color: gray;
}

/* ====== LISTING ===== */
.listing {
  overflow-y: auto;
}
::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  background-color: #000000;
}

/*::-webkit-scrollbar {
  width: 6px;
  border-left: 1px solid #e6ecf8;
}
::-webkit-scrollbar-thumb {
  background-color: #000;
}
*/
/* ====== FOOTER ===== */
.footer {
  margin-top: auto;
}
.app__form {
  padding: 10px 20px;
  z-index: 1;
  background-color: #e9e9eb;
  margin: 5px;
  border-radius: 35px !important;
}
.app__formControl {
  display: flex !important;
  flex-direction: row !important;
}
.app__input {
  flex: 1;
}
.app__iconButton {
  flex: 0;
}
